<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/application.css" />
  </head>

  <body>
    <div id="chat-log">
      <!-- displays connection status -->
    </div>

    <div id="chat-hole">
      <span id="user_name"></span><input type="in-text" id="message_container">
      <button id="disconnect">Disconnect</button>
      <button id="disconnect-all">Disconnect All</button>
    </div>

    <!-- SCRIPTS -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script> host = '<%= "ws://#{host}:#{port_number}" %>'; </script>
    <script src="application.js"></script>
  </body>
</html>
