<!doctype html>
<html>
  <head>
    <title>Chat Hole - chat into holes!</title>
  </head>
  <body>

    <h1>Welcome!</h1>

    <p>Please try any available socket for a chatroom. <br>
    Should work for anything between 1024 and 65,000-ish</p>

    <p><strong><a href="/<%= random_port %>">Here's One!</a></strong></p>

  </body>
</html>
