#chat-log {
  padding-bottom: 45px;
}

#chat-hole {
  padding: 5px 5px 5px 5px;
  background: pink;
  bottom:0;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height:35px;
}

.me-text {
  color: red;
}

.them-text {
  color: blue;
}

.log-text {
  color: grey;
  text-transform: uppercase;
}